<div dir="rtl" class="filter-groups">
    <b>فرز المجموعات حسب التصنيف</b>

    <form action="" class="filter-form">
        <select name="" id="">
            <option>اختر التصنيف</option>
            <option value="">فكاهة مرح</option>
            <option value="">رياضة</option>
            <option value="">حوار</option>
            <option value="">التعلم</option>
            <option value="">تكنولوجية</option>
            <option value="">تطبيقات</option>
            <option value="">فيديوهات</option>
            <option value="">فن</option>
            <option value="">شيء اخر</option>
        </select>
        <button type="submit">تصفية</button>
    </form>
</div>