<div class="login-register">
    <div class="header-desc">
        <label>يمكنك تسجيل حسابك ونشر مجموعاتك بلا حدود وبالمجان</label>
        <p>او سجل دخولك اذا كان لديك حساب بالفعل</p>
    </div>
    <div class="buttons">
        <div class="login">
            <div class="login-button">
                <b>تسجيل الدخول</b>
            </div>
        </div>
        <div class="register">
            <div class="register-button">
                <b>انشاء حساب</b>
            </div>
        </div>
    </div>
</div>