<div class="pagination">
    <div class="load-more">
        <div class="btn-txt">
            عرض المزيد
        </div>
        <div class="animations">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
</div>