<div dir="rtl" class="search-for-group">
    <b>البحث على مجموعة</b>
    <div class="content">
        <form action="" id="search-form">
            <div class="form-group">
                <input type="search" placeholder=" بحث..">
                <button type="submit">بحث</button>
            </div>
        </form>
    </div>
</div>